@charset "utf-8";

:root {
	--accent-color: #FFD50F;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.4;

	outline: 0;
	border: none;
	vertical-align: baseline;
}

a {
	text-decoration: none;
	color: inherit;
}
/* a:hover { text-decoration: underline; } */

b {
	font-weight: 700;
}

ol,
ul { list-style: none; }

sub,
sup { line-height: 0; }

summary { outline: none; }

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img_contain {
	object-fit: contain;
}

div:has( > img) {
	overflow: hidden;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;

	max-width: 1536px;
	margin: 0 auto;
}

.header {
	background: url(../img/headerBG.png) center center no-repeat;
	height: 100vh;
	max-height: 714px;
}

.header__inner {
	/* padding: 0 15px; */
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 21px 15px 21px 34px;
}

.header__logo {

}

.header__company {
	font-size: 35px;
	letter-spacing: 3px;
}
.header__company span {
	letter-spacing: 0;
}

.header__company-application {
	font-size: 23px;
	color: #979996;
}

.header__menu {
	flex-basis: 670px;
	margin-top: 3px;
	text-transform: uppercase;
}

.header__menu,
.header__phone {
	font-size: 26px;
}

.header__menu-items {
	display: flex;
	justify-content: space-between;
}

.header__menu-items a {
	border-bottom: 3px solid transparent;
	transition: border-bottom-color 0.4s;
}
.header__menu-items a:hover {
	border-bottom-color: var(--accent-color);
}

.header__burger {
	background: url(../img/burger4.svg);
	background-size: cover;
	width: 26px;
	height: 26px;
	margin-top: -2px;
	cursor: pointer;
	display: none;
}

.header__burger-items {
	position: absolute;
	z-index: 4;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	max-width: 1536px;
	max-height: 714px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-size: 45px;
	cursor: default;
	background-color: white;
	display: none;
}

.burger__close {
	background: url(../img/2cross.svg);
	background-size: cover;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.header__phone {

}

.header__headline-wrapper {
	width: 1023px;
	margin: 21px auto 0;
	text-align: center;
}

.header__headline {
	font-size: 58px;
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	text-transform: uppercase;
}

.header__button-wrapper {
	margin: 142px auto 0;
	width: 319px;
	height: 104px;
	border: 4px white solid;
	border-radius: 53px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: var(--accent-color); */
	background-color: transparent;
	font-size: 32px;
	text-transform: uppercase;
	color: white;
	transition: background-color 0.5s, color 0.5s;
	/* color: var(--accent-color); */
}
.header__button-wrapper:hover {
	background-color: var(--accent-color);
	/* border-color: var(--accent-color); */
	/* border-color: black; */
	color: black;
}

.header__button {
	background-color: transparent;
	width: 100%;
	height: 100%;
	color: inherit;
	cursor: pointer;
}

.main {
	
}

.FAQ {

}

.FAQ > div > div {
	width: 50vw;
	height: 50vw;
	max-width: 768px;
	max-height: 714px;
}
.FAQ h3 {
	margin: 23px 0;
	font-size: 52px;
	text-transform: uppercase;
}

.FAQ__why-choose-us {

}
.FAQ__why-choose-us,
.FAQ__who-are-we,
.FAQ__who-chooses-us {
	display: flex;
}

.FAQ__why-choose-us_bg {

}
.FAQ__why-choose-us_bg,
.FAQ__who-are-we_bg,
.FAQ__who-chooses-us_bg {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.FAQ__bg {
	width: 40vw;
	height: 40vw;
	max-width: 645.11px;
	max-height: 645.11px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.FAQ__why-choose-us_text {
	display: flex;
	flex-direction: column;
	font-size: 40px;
	background: url(../img/pattern2.svg);
}

.bullets-container {
	display: flex;
	flex-direction: column;
	font-size: 35px;
	/* text-align: justify; */
	padding: 0 0 41px 53px;
}

.FAQ__why-choose-us_headline {

}

.FAQ__why-choose-us_bullets {

}

.FAQ__why-choose-us_bullets li {
	padding-left: 0px;
}

.bullets {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	padding-left: 32px;
	list-style: url(../img/scalpel.svg);
}

.bullets li {

}

.FAQ__who-are-we {

}

.FAQ__who-are-we > div {
	/* height: 50vw !important; */
}

.FAQ__who-are-we_text {
	background: url(../img/pattern3.svg);
}

.FAQ__who-are-we_headline {
	margin-bottom: 13px !important;
	text-align: center;
}

.FAQ__who-are-we_paragraphs {
	font-size: 23px;
	padding: 0 47px;
	text-indent: 45px;
	text-align: justify;
}

.FAQ__who-are-we_first-paragraph {
	margin-top: 23px;
}

.FAQ__who-are-we_second-paragraph {
	margin-top: 45px;
}

.FAQ__who-are-we_bg {
	/* background-color: red; */
}

.FAQ__who-chooses-us {

}

.FAQ__who-chooses-us_bg {
	/* background: url(../img/whoChoosesUsBG.png) no-repeat;
	background-size: cover; */
}

.FAQ__who-chooses-us_text {
	background: url(../img/pattern4.svg);
}

.FAQ__who-chooses-us_headline {
	text-align: left !important;
}

.FAQ__who-chooses-us_bullets {

}

.services {
	margin-top: 5px;
	height: 100vh;
	max-height: 713.6px;
}

.services__header {

}

.decorative-line {
    height: 2px;
    width: 333px;
    background-color: var(--accent-color);
}

.services__headline {

}

.section__header {
	position: relative;
	display: flex;
	justify-content: center;
}
.section__header::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 34px;
	left: 72px;
	height: 2px;
	width: 1375px;
	background-color: var(--accent-color);
}

.section__headline {
	padding: 0 49px;
	font-size: 51px;
	text-align: center;
	text-transform: uppercase;
	background-color: white;
}

.services__instrument {
	display: flex;
}

.services__demonstration {
	display: flex;
	flex-direction: column;
	/* margin: 0 10px 0 10px;
	margin-left: 10px;
	margin-right: 10px; */
	flex: 0 0 66.67%;
	height: 642.2px;
}

.services__big-image {
	height: 600px;
	width: 600px;
	align-self: center;
}

.services__big-image img {
	object-fit: contain;
	/* scale: 0.5; */
}

.services__carousel {
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.arrow,
.services__mini-images img {
	cursor: pointer;
}

.arrow {
	width: 40px;
	height: 40px;
}

.services__left-arrow {
	margin-right: 29px;
	background: url(../img/services__left-arrow.svg) 50% 50% no-repeat;
	background-size: contain;
}

.services__mini-images {
	display: flex;
	max-height: 150px;
}
.services__mini-images div {
	border: 1px solid transparent;
	border-radius: 40px;
}
.services__mini-images div + div {
	margin-left: 10px;
}
.services__mini-images img {
	width: 150px;
	height: 150px;
	object-fit: contain;
}

.services__mini-images_active {
	border-color: green !important;
}

.services__right-arrow {
	margin-left: 29px;
	background: url(../img/services__right-arrow.svg) 50% 50% no-repeat;
	background-size: contain;
}

.services__price-block-wrapper {
	flex-grow: 1;
	position: relative;
}
.services__price-block-wrapper::before {
	content: '';
	position: absolute;
	height: 91%;
	width: 1px;
	top: 50%;
	left: 0px;
	transform: translateY(-53%);
	background-color: gray;
}

.services__price-block {
	height: 100%;
	width: 400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.services__price {
	font-size: 40px;
	font-weight: 500;
}

.services__delivery {
	font-size: 20px;
}

.services__delivery-header {
	margin-top: 32px;
	display: flex;
	align-items: center;
}

.services__delivery-icon-wrapper {
	width: 28px;
	height: 28px;
}

.services__delivery-icon {

}

.services__delivery-headline {
	margin-left: 8px;
	font-weight: 700;
}

.services__delivery-to {
	margin-top: 10px;
}

.services__button-wrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: column-reverse;
	
	padding-bottom: 47px;
}

.services__button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 29px;
	width: 100%;
	height: 50px;
	background-color: var(--accent-color);
}

.services__button-inner {
	background-color: transparent;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.feedbacks {
	margin-top: 15px;
}

.feedbacks__header {

}

.feedbacks__headline {

}

.feedbacks__cards {
	display: flex;
	justify-content: space-evenly;

	margin-top: 39px;
}

.feedbacks__card {
	flex: 0 0 27%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid gray;
	text-align: center;

	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	/* box-shadow: 0 0 10px rgba(0,0,0,0.9); */
}

.card__photo {
	/* background: linear-gradient(#03E0F9, #68E7F7); */
	background-color: #95A3DC;
	width: 250px;
	height: 250px;
	margin: 25px 0 23px;
	border-radius: 50%;
}

.card__photo-1 {
	object-position: 0 0;
	scale: 1.29;
}

.card__photo-2 {
	object-position: 0% 80%;
	scale: 1.5;
}

.card__photo-3 {
	object-position: 0% 8%;
}

.card__name {
	font-size: 21px;
}

.card__who-is {
	min-height: 77px;
}

.card__profession {
	font-size: 17px;
}

.card__characteristic {
	margin-top: 3px;
	padding: 0 26px;
	font-size: 12px;
}

.card__quotation {
	position: relative;
	padding: 23px 25px;
	/* padding-top: 0px; */
	font-size: 18px;
	text-align: justify;
	text-indent: 24px;
}
.card__quotation::before {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	left: 13px;
	top: 12px;
	background: url(../img/quotes.svg);
	background-size: contain;
}

.partners {
	margin-top: 41px;
	height: 100vh;
	max-height: 713.6px;
	display: flex;
	flex-direction: column;
}

.partners__header {

}

.partners__headline {

}

.partners__main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.partners__BSMU {

}

.partner {
	display: flex;
}

.partners__logo {
	margin: 0 60px;
	min-width: 150px;
	width: 150px;
	height: 150px;
	align-self: center;
}

.partners__text {
	opacity: 50%;
	width: 100%;
	margin-right: 36px;
	margin-left: 3px;
	font-size: 27px;
	text-align: justify;
	display: flex;
	align-items: center;
	transition: opacity 0.5s;
}
.partners__text:hover {
	opacity: 100%;
}

.partners__MFS {

}

.partners__IF {

}

.footer {
	margin-top: 25px;
}

.footer__main-wrapper {
	background-color: black;
	height: calc(100vh + 100px);
	max-height: 813.6px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.footer__main {
	height: 455px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	/* justify-content: space-around; */
	/* justify-content: center;
	column-gap: 170px; */
	align-items: center;
}

.footer__map {
	background-color: white;
}

.footer__contacts-wrapper {
	height: 100%;
}

.footer__contacts {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 26px;
}

.contacts__headling {
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 700;
}

.footer__copyright {
	text-align: center;
	padding: 10px 0;
	/* background-color: #D9D9D9; */
	/* background-color: #B4A9A9; */
}

.popup-wrapper {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000000D4;
	/* background-color: #FFFFFF7F; */
	display: none;
}

.popup {
	width: 35vw;
	height: 35vw;
	border-radius: 31px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: var(--accent-color);
}

.form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.popup__user-data {
	height: 65px;
	width: 257.1px;
	border-radius: 34px;
	padding: 0 7px 0 27px;
	padding-left: 27px;
	font-size: 27px;
}

.popup__send {
	height: 70px;
	width: 358px;
	border-radius: 15px;
	font-size: 40px;
	background-color: #64FFE4;

	background-color: #FF8329;

	background-color: #22A800;
	/* background-color: #28C700; */
	color: white;

	cursor: pointer;
}

.popup__close {
	position: absolute;
	top: 13px;
	right: 13px;
	width: 35px;
	height: 35px;
	background: url(../img/cross4.svg);
	background-size: cover;
	cursor: pointer;
}

.to-top-wrapper {
	position: fixed;
	z-index: 2;
	bottom: 16px;
	right: 16px;
	width: 40px;
	height: 40px;
	background: url(../img/to-top-wrapper.svg);
	background-size: cover;
}

.to-top {
	display: block;
	
	width: 100%;
	height: 100%;
}
