@charset "utf-8";

:root {
	/* font-size: 5px; */
	font-size: calc(5px + (10 - 5) * ((100vw - 768px) / (1536 - 768)));


	--accent-color: #FFD50F;
}

*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.4;

	outline: 0;
	border: none;
	vertical-align: baseline;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
}

b {
	font-weight: 700;
}

ol,
ul { list-style: none; }

sub,
sup { line-height: 0; }

summary { outline: none; }

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* ????????????????????????????????????????????????? */
nav {
	font-weight: inherit;
}

.img_contain {
	object-fit: contain;
}

div:has( > img) {
	overflow: hidden;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;


	font-family: 'Inter', sans-serif;
	max-width: 96em;
	margin: 0 auto;

	/* position: relative; */
}

.header {
	font-size: 2.6rem;


	/* background: url(../img/headerBG.png) center center no-repeat; */
	height: 100vh;
	max-height: 27.462em;
}

.header__inner {
	/* padding: 0 15px; */
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.808em 0.577em 0.808em 1.308em;
}

.header__logo {
	font-family: 'Roboto Slab', serif;
}

.header__company {
	font-size: 3.5rem;


	letter-spacing: 0.115em;
}
.header__company span {
	letter-spacing: 0;
}

.header__company-application {
	font-size: 2.3rem;


	color: #979996;
}

.header__menu {
	flex-basis: 25.77em;
	margin-top: 0.154em;
	text-transform: uppercase;
}

.header__menu,
.header__phone {
	font-family: 'Roboto Slab', serif;
	/* font-weight: 400; */
}

.header__menu-items {
	display: flex;
	justify-content: space-between;
}

.header__menu-items a {
	border-bottom: 0.116em solid transparent;
	transition: border-bottom-color 0.4s;
}
.header__menu-items a:hover {
	border-bottom-color: var(--accent-color);
}

.header__burger {
	font-size: 4.5rem;


	background: url(../img/burger4.svg);
	background-size: cover;
	width: 0.578em;
	height: 0.578em;
	margin-top: -0.044em;
	cursor: pointer;
	display: none;
}

.header__burger-items {
	position: absolute;
	z-index: 12;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	max-width: 34.133em;
	max-height: 15.867em;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	cursor: default;
	background-color: white;
	display: none;
}

.burger__close {
	background: url(../img/2cross.svg);
	background-size: cover;
	position: absolute;
	top: 0.445em;
	right: 0.445em;
	width: 0.667em;
	height: 0.667em;
	cursor: pointer;
}

.header__phone {

}

.header__headline-wrapper {
	font-size: 5.8rem;


	width: 17.638em;
	margin: 0.363em auto 0;
	text-align: center;
}

.header__headline {
	
	font-family: 'Playfair Display', serif;
	font-weight: 900;

	/* font-family: 'Roboto Slab', serif;
	font-weight: 500; */

	text-transform: uppercase;
}

.header__button-wrapper {
	font-size: 3.2rem;


	margin: 4.434em auto 0;
	width: 9.969em;
	height: 3.25em;
	border: 0.125em white solid;
	border-radius: 1.657em;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: var(--accent-color); */
	background-color: transparent;
	
	text-transform: uppercase;
	color: white;
	transition: background-color 0.5s, color 0.5s, font-weight 0.3s;
	/* color: var(--accent-color); */
}
.header__button-wrapper:hover {
	background-color: var(--accent-color);
	/* border-color: var(--accent-color); */
	/* border-color: black; */
	/* color: black; */
	font-weight: 900;
}

.header__button {
	background-color: transparent;
	width: 100%;
	height: 100%;
	color: inherit;
	cursor: pointer;

	font-weight: inherit;
}

.main {
	
}

.FAQ {

}

.FAQ > div > div {
	font-size: 3.9rem;


	width: 50vw;
	height: 50vw;
	max-width: 19.692em;
	max-height: 18.307em;
}
.FAQ h3 {
	font-size: 5.2rem;


	margin: 0.443em 0;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}

.FAQ__why-choose-us {
	font-size: 4rem;
}
.FAQ__why-choose-us,
.FAQ__who-are-we,
.FAQ__who-chooses-us {
	display: flex;
}

.FAQ__why-choose-us_bg {

}
.FAQ__why-choose-us_bg,
.FAQ__who-are-we_bg,
.FAQ__who-chooses-us_bg {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.FAQ__bg {
	font-size: 1rem;
	width: 40vw;
	height: 40vw;
	max-width: 64.511em;
	max-height: 64.511em;
	box-shadow: 0 0 4em rgba(0,0,0,0.55);
	/* outline: 10px solid gray; */
}

.FAQ__why-choose-us_text {
	display: flex;
	flex-direction: column;
	/* background: url(../img/pattern2.svg); */
}

.bullets-container {
	display: flex;
	flex-direction: column;
	/* text-align: justify; */
	padding: 0 0.256em 1.051em 1.358em;
}

.FAQ__why-choose-us_headline {
	
}

.FAQ__why-choose-us_bullets {

}

.bullets {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	/* padding-left: 32px; */
	

	
	/* text-shadow: 10px 10px 10px black; */
}

.bullet {
	display: flex;
}

.bullet img {
	width: 0.949em;
	height: 0.949em;
	transform: translateY(0.231em);
	margin-right: 0.410em;
}

.bullets li {

}

.FAQ__who-are-we {

}

.FAQ__who-are-we > div {
	/* height: 50vw !important; */
}

.FAQ__who-are-we_text {
	/* background: url(../img/pattern3.svg); */
}

.FAQ__who-are-we_headline {
	margin-bottom: 0.25em !important;
	text-align: center;
}

.FAQ__who-are-we_paragraphs {
	font-size: 2.3rem;


	padding: 0 2.043em;
	text-indent: 1.956em;
	text-align: justify;
}

.FAQ__who-are-we_first-paragraph {
	margin-top: 1em;
}

.FAQ__who-are-we_second-paragraph {
	margin-top: 1.957em;
}

.FAQ__who-are-we_bg {
	/* background-color: red; */
}

.FAQ__who-chooses-us {

}

.FAQ__who-chooses-us_bg {
	/* background: url(../img/whoChoosesUsBG.png) no-repeat;
	background-size: cover; */
}

.FAQ__who-chooses-us_text {
	/* background: url(../img/pattern4.svg); */
}

.FAQ__who-chooses-us_headline {
	text-align: left !important;
}

.FAQ__who-chooses-us_bullets {

}

.services {
	font-size: 2rem;


	margin-top: 0.25em;
	height: 100vh;
	max-height: 35.68em;

	/* background: radial-gradient(#e66465, #9198e5); */
}

.services__header {

}

.services__headline {

}

.section__header {
	position: relative;
	display: flex;
	justify-content: center;
}
.section__header::before {
	font-size: 0.2rem;


	content: '';
	position: absolute;
	z-index: -1;
	top: 17em;
	left: 50%;
	height: 1em;
	width: 687.5em;
	transform: translateX(-50%);
	background-color: var(--accent-color);
}

.section__headline {
	font-size: 5.1rem;


	padding: 0 0.960em;
	text-align: center;
	text-transform: uppercase;
	background-color: white;
}

.services__instrument {
	display: flex;
}

.services__demonstration {
	display: flex;
	flex-direction: column;
	/* margin: 0 10px 0 10px;
	margin-left: 10px;
	margin-right: 10px; */
	flex: 0 0 66.67%;
	height: 32.11em;
}

.services__big-image {
	height: 30em;
	width: 30em;
	align-self: center;
}

.services__big-image img {
	object-fit: contain;
	/* scale: 0.5; */
}

.services__carousel {
	min-height: 10em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.arrow,
.services__mini-images img {
	cursor: pointer;
}

.arrow {
	width: 2em;
	height: 2em;
}

.services__left-arrow {
	margin-right: 1.45em;
	background: url(../img/services__left-arrow.svg) 50% 50% no-repeat;
	background-size: contain;
}

.services__mini-images {
	display: flex;
	max-height: 7.5em;
}
.services__mini-images div {
	border: 0.05em solid transparent;
	border-radius: 2em;
}
.services__mini-images div + div {
	margin-left: 0.5em;
}
.services__mini-images img {
	width: 7.5em;
	height: 7.5em;
	object-fit: contain;
}

.services__mini-images_active {
	border-color: green !important;
}

.services__right-arrow {
	margin-left: 1.45em;
	background: url(../img/services__right-arrow.svg) 50% 50% no-repeat;
	background-size: contain;
}

.services__price-block-wrapper {
	flex-grow: 1;
	position: relative;
}
.services__price-block-wrapper::before {
	content: '';
	position: absolute;
	height: 91%;
	width: 0.05em;
	top: 50%;
	left: 0px;
	transform: translateY(-53%);
	background-color: gray;
}

.services__price-block {
	height: 100%;
	width: 20em;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.services__price {
	font-size: 4rem;


	font-weight: 500;
}

.services__delivery {

}

.services__delivery-header {
	margin-top: 1.6em;
	display: flex;
	align-items: center;
}

.services__delivery-icon-wrapper {
	width: 1.4em;
	height: 1.4em;
}

.services__delivery-icon {

}

.services__delivery-headline {
	margin-left: 0.4em;
	font-weight: 700;
}

.services__delivery-to {
	margin-top: 0.5em;
}

.services__button-wrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: column-reverse;
	
	padding-bottom: 2.35em;
}

.services__button {
	font-size: 2.9rem;
	

	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 1.725em;
	background-color: var(--accent-color);
}

.services__button-inner {
	background-color: transparent;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.feedbacks {
	font-size: 1.8rem;


	margin-top: 0.833em;
}

.feedbacks__header {

}

.feedbacks__headline {

}

.feedbacks__cards {
	display: flex;
	justify-content: space-evenly;

	margin-top: 2.116em;
}

.feedbacks__card {
	/* flex: 0 0 27%; */
	width: 22.788em;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid gray; */
	text-align: center;

	box-shadow: 0 0 0.555em rgba(0,0,0,0.55);
	/* box-shadow: 0 0 10px rgba(0,0,0,0.9); */
}

.card__photo {
	/* background: linear-gradient(#03E0F9, #68E7F7); */
	background-color: #95A3DC;
	background-color: #0094FF;
	/* background-color: var(--accent-color); */
	width: 13.888em;
	height: 13.888em;
	margin: 1.388em 0 1.277em;
	border-radius: 50%;
}

.card__photo-1 {
	object-position: 0 0;
	scale: 1.29;
}

.card__photo-2 {
	object-position: 0% 80%;
	scale: 1.5;
}

.card__photo-3 {
	object-position: 0% 8%;
}

.card__name {
	font-size: 2.1rem;
}

.card__who-is {
	min-height: 4.278em;
}

.card__profession {
	font-size: 1.7rem;
}

.card__characteristic {
	font-size: 1.2rem;


	margin-top: 0.25em;
	padding: 0 2.166em;
}

.card__quotation {
	position: relative;
	padding: 1.278em 1.389em;
	
	
	text-align: justify;
	text-indent: 1.333em;
}
.card__quotation::before {
	content: '';
	position: absolute;
	width: 1.389em;
	height: 1.389em;
	left: 0.722em;
	top: 0.667em;
	background: url(../img/quotes.svg);
	background-size: contain;
}

.partners {
	font-size: 2.7rem;


	margin-top: 1.518em;
	height: 100vh;
	max-height: 26.430em;
	display: flex;
	flex-direction: column;
}

.partners__header {

}

.partners__headline {

}

.partners__main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.partners__BSMU {

}

.partner {
	display: flex;
}

.partners__logo {
	margin: 0 2.222em;
    min-width: 5.555em;
    width: 5.555em;
    height: 5.555em;
    align-self: center;
}

.partners__text {
	opacity: 50%;
	width: 100%;
	margin-right: 1.333em;
	margin-left: 0.111em;
	
	text-align: justify;
	display: flex;
	align-items: center;
	transition: opacity 0.5s;
}
.partners__text:hover {
	opacity: 100%;
}

.partners__MFS {

}

.partners__IF {

}

.footer {
	font-size: 2.9rem;


	margin-top: 0.862em;
}

.footer__main-wrapper {
	background-color: black;
	height: calc(100vh + 4em);
	max-height: 28.607em;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.footer__main {
	height: 19.897em;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	/* justify-content: space-around; */
	/* justify-content: center;
	column-gap: 170px; */
	align-items: center;
}

.footer__main div {
	/* scale: 0.9; */
}

.footer__map {
	background-color: white;
}
.footer__map iframe {
	width: 19.724em;
	height: 19.724em;
}

.footer__contacts-wrapper {
	height: 100%;
	/* margin-left: -500px; */
}

.footer__contacts {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
}

.contacts__headling {
	font-size: 3.8rem;


	text-transform: uppercase;
	font-weight: 700;
}

.footer__copyright {
	font-size: 1.6rem;


	text-align: center;
	padding: 0.625em 0;

	/* background-color: #D9D9D9; */
	/* background-color: #B4A9A9; */
}

.popup-wrapper {
	position: fixed;
	z-index: 11;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	/* max-width: 1536px;
	max-height: 714px; */

	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: #000000D4; */
	background-color: #000000E9;
	/* background-color: #FFFFFF7F; */
	display: none;
}

.popup {
	width: 35vw;
	height: 35vw;
	/* max-width: 537.6px; */
	/* max-height: 537.6px; */
	border-radius: 2vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #FFE87B;
}

.form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.popup__user-data {
	font-size: 1.8vw;


	height: 4.2vw;
	width: 16.7vw;
	border-radius: 2.2vw;
	padding: 0 0.5vw 0 1.8vw;
	padding-left: 1.8vw;
}

.popup__send {
	font-size: 2.6vw;


	height: 4.5vw;
	width: 23.3vw;
	border-radius: 1vw;
	font-weight: 800;
	
	background-color: #64FFE4;
	background-color: #FF8329;
	background-color: #22A800;
	background-color: #28C700;

	background-color: var(--accent-color);
	color: white;

	cursor: pointer;
}

.popup__close {
	position: absolute;
	top: 0.8vw;
	right: 0.8vw;
	width: 2.3vw;
	height: 2.3vw;
	background: url(../img/cross4.svg);
	background-size: cover;
	cursor: pointer;
}

.to-top-wrapper {
	position: fixed;
	z-index: 10;
	bottom: 1em;
	right: 1em;
	width: 2.5em;
	height: 2.5em;
	background: url(../img/to-top-wrapper.svg);
	background-size: cover;
}

.to-top {
	display: block;
	
	width: 100%;
	height: 100%;
}

































